@model ForgotPasswordVM
@{
    Layout = "_AuthLayout";
}

<h4>@T.ForgotPasswordTitle</h4>
<form class="pt-3">
    <div class="form-group">
        <input type="email" 
               class="form-control form-control-lg" 
               id="exampleInputEmail1" 
               placeholder="@T.EmailPlaceholderText">
        <span class="text-danger text-small" asp-validation-for="Email"></span>
    </div>
    <div class="mt-3">
        <button type="submit"
            class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
            @T.SendResetRequestButtonText
        </button>
    </div>
    <div class="text-center mt-4 font-weight-light">
        <a href="@Url.Action("Login")" class="text-primary">@T.IRememberedMyPasswordLinkText</a>
    </div>
</form>