@model ProjectVM

@{
    Layout = "_Layout";
}

<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@T.CreateProjectTitleText</h4>
            <p class="card-description">@T.CreateProjectSubtitleText</p>
            <form class="forms-sample" asp-controller="Projects" asp-action="CreateProject" method="post">
                <div class="form-group">
                    <label for="name">@T.ProjectNameLabelText</label>
                    <input asp-for="Name" 
                           class="form-control" 
                           id="name" 
                           placeholder="@T.ProjectNameLabelText">
                </div>
                <div class="form-group">
                    <label for="description">@T.ShortDescriptionLabelText</label>
                    <input asp-for="Description"
                           class="form-control" 
                           id="description" 
                           placeholder="@T.ShortDescriptionLabelText">
                </div>
                <button type="submit" 
                        class="btn btn-primary mr-2">@T.CreateProjectButtonText</button>
            </form>
        </div>
    </div>
</div>