@model List<ProjectVM>

@{
    Layout = "_Layout";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h2 class="font-weight-bold">@T.YourProjectsTitleText</h2>
                </div>
                <button type="button" class="btn btn-primary mr-3 mb-1">
                    <a class="text-decoration-none text-white" href="/new-project">
                        <i class="icon-circle-plus menu-icon"></i>
                        <span class="menu-title">@T.CreateNewProjectNavButtonText</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var project in Model)
        {
            <div class="col-md-4 col-sm-6 col-12 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body ml-2 mt-2">
                        <p class="fs-30 mb-3 project-title" data-project-id="@project.Id">@project.Name</p>
                        <p id="project-description">@project.Description</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <div class="btn-group" role="group">
                            <a href="/projects/@project.Id/kanban"
                               class="btn btn-outline-light text-light">@T.KanbanButtonText</a>
                            <a href="/projects/@project.Id/calendar"
                               class="btn btn-outline-light text-light">@T.CalendarButtonText</a>
                            <div class="btn-group dropup">
                                <button class="btn btn-outline-light text-light dropdown-toggle" type="button"
                                        id="dropdown-@project.Id" data-toggle="dropdown" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/projects/@project.Id/labels">@T.LabelsViewTitle</a>
                                    <a class="dropdown-item" onclick="openEditModal(this)">@T.EditDropdownButtonText</a>
                                    <a class="dropdown-item"
                                       onclick="openShareModal(this)">@T.ShareDropdownButtonText</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger"
                                       onclick="openDeleteModal(this)">@T.DeleteDropdownButtonText</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @await Html.PartialAsync("_ShareProjectModal", new ProjectUpdateVM())
    @await Html.PartialAsync("_DeleteProjectModal")
    @await Html.PartialAsync("_EditProjectModal", new ProjectUpdateVM())
</div>

<script>
    function openShareModal(element) {
        const projectId = element.closest('.card').querySelector('.project-title').dataset.projectId;
        document.querySelector('#projectShareModal input[name="Id"]').value = projectId;
        $('#projectShareModal').modal('show');
    }

    function openDeleteModal(element) {
        const projectId = element.closest('.card').querySelector('.project-title').dataset.projectId;        
        document.getElementById('projectDeleteModal').setAttribute('data-project-id', projectId);
        $('#projectDeleteModal').modal('show');
    }

    function openEditModal(element) {
        const projectId = element.closest('.card').querySelector('.project-title').dataset.projectId;
        const projectName = element.closest('.card').querySelector('.project-title').innerText;
        const projectDescription = element.closest('.card').querySelector('.card-body #project-description').innerText;

        document.querySelector('#projectEditModal input[name="Id"]').value = projectId;
        document.querySelector('#projectEditModal input[name="Title"]').value = projectName;
        document.querySelector('#projectEditModal textarea[name="Description"]').value = projectDescription;
        
        document.getElementById("modal-title").innerText = projectName;

        $('#projectEditModal').modal('show');
    }
</script>
