@model UserSettingsVM
@{
    Layout = "_Layout";
}

<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@T.AccountDetailsText</h4>
            <p class="card-description">@T.UpdateAccountPasswordText</p>
            <form class="forms-sample" asp-controller="UserSettings" asp-action="UserSettings" method="post">
                <div class="form-group">
                    <label for="old-password">@T.OldPasswordLabel</label>
                    <input asp-for="OldPassword"
                           class="form-control"
                           id="old-password"
                           type="password"
                           placeholder="@T.OldPasswordLabel">
                    <span class="text-danger text-small" asp-validation-for="OldPassword"></span>
                </div>
                <div class="form-group">
                    <label for="new-password">@T.NewPasswordLabel</label>
                    <input type="password"
                           asp-for="NewPassword"
                           class="form-control form-control-lg"
                           id="new-password"
                           placeholder="@T.NewPasswordLabel">
                    <span class="text-danger text-small" asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label for="confirm-password">@T.ConfirmNewPasswordLabel</label>
                    <input type="password"
                           asp-for="ConfirmPassword"
                           class="form-control form-control-lg"
                           id="confirm-password"
                           placeholder="@T.ConfirmNewPasswordLabel">
                    <span class="text-danger text-small" asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit"
                        class="btn btn-primary mr-2">@T.UpdateAccountDetailsButtonText
                </button>
            </form>
        </div>
    </div>
</div>